modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libxcrypt", "postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 5000"]

[userenv]

[userenv.shared]
TINY_A_TOKEN = "d505e2166ae55f5cf93740bae5b80dfe78772df30a4615046dcfc7357b0e3320"
TINY_B_TOKEN = "1b608fe46e8ff2f14116cd4be53ca1b918343f84b1ac4ecad2695d40e04739cd"
EXECUTE_TINY_B = "true"
MAX_ORDERS_TO_REPLICATE = "40"
JOB_DELAY_MINUTES = "5"
