modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libxcrypt", "postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 5000"]

[userenv]

[userenv.shared]
TINY_A_TOKEN = "d505e2166ae55f5cf93740bae5b80dfe78772df30a4615046dcfc7357b0e3320"
TINY_B_TOKEN = "1b608fe46e8ff2f14116cd4be53ca1b918343f84b1ac4ecad2695d40e04739cd"
TINY_A_CLIENT_ID = "tiny-api-ff15fc7c984c8f515a5b32dbdc63ad3d532e547d-1762859206"
TINY_A_CLIENT_SECRET = "UcpLBGdFoMcC47trDUFxZg7TVBWrY0zS"
TINY_B_CLIENT_ID = "tiny-api-1d0c733fc203baf47f7d8084a7ec1d2c2eab8247-1762859262"
TINY_B_CLIENT_SECRET = "nNEGmgBvdGwWmUdckaPkqNvRGmiwPZjh"
APP_BASE_URL = "https://integrator-tiny.replit.app"
